.header {
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #007FFF;
    padding: 2px;
}

.header-top {
    display: flex;
    width: 100%;
    height: 80px;
}

.header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header-logo {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
    font-size: 80px;
}

.header-top_navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-top__seperator {
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color: black;
}

.header-top-navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
}